<h1>Hospital Records Management</h1>
<h2>Add a Hospital Record</h2>
    <form id="add-hospital-form-ajax">
        <label for="input-name">Hospital Name:</label>
        <input type="text" id="input-name" name="input-name"
            required><br>
        <button type="submit">Add Hospital</button>
    </form>

    <script src="./js/add/add_hospital.js"></script>
    <br>

<h2>Updating a Hospital Record</h2>
<p>To update a hospital that is misspelled but has the correct id</p>
<form id="update-hospital-form-ajax">
    <label for="input-hospital">Hospital: </label>
    <select name="input-hospital" id="input-hospital-update">
        <option value="test">Select a Hospital</option>
        {{#each data}}
        <option value={{this.hospitalID}}>{{this.hospitalName}}</option>
        {{/each}}
    </select>

    <label for="input-spelling">Correct Spelling: </label>
    <input type="text" id="input-spelling-update" name="input-spelling" required><br>
    <button type="submit">Update Hospital</button>
</form>
<script src="./js/update/update_hospital.js"></script>
<br>

{{!-- Create a table --}}
<table id="hospitals-table">
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id and name in order--}}
        {{#each data}}
        <tr data-value={{this.hospitalID}}>
            <td>{{this.hospitalID}}</td>
            <td>{{this.hospitalName}}</td>
            <td><button onclick="deleteHospital({{this.hospitalID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete/delete_hospital.js"></script>